body {
    background: #71adba;
    background-size: cover;
    color:#0F5E59;  
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#container {
    width: 500px;
    margin: 100px auto 0;
    padding: 50px;
    box-sizing: border-box;
    background: #fff;
    box-shadow: 0 10px 15px -8px #000;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 8px;
    text-align: center;
}


h1 {
    margin: 0 0 20px;
    padding: 0 0 20px;
    border-bottom: solid 1px #ddd;
    color:#0F5E59;
}

form {
    text-align: left;
}

form label {
    display: block;
    margin: 25px;
    font-weight: bold;

}


form select, form input {
    padding: 8px;
    margin: 10px 0;
}

form input[type="text"] {
    width: 90px;
}

button {
    background: #0f5e59;
    color: white;
    border: none;
    border-bottom: solid 4-x #444;
    text-transform: uppercase;
    font-size: 18px;
    padding: 20px 30px;
    width: 100%;
}

button:hover {
    background: #b0dbbc;
    border-bottom-color: #111;
}

button:active {
    position: relative;
    top: 1px;
}

#totalTip {
    font-size: 50px;
    margin-top: 40px;
}

#totalTip:before {
    content: "Tip amount";
    font-size: 14px;
    font-weight: bold;
    display: block;
    text-transform: uppercase;
}

#totalTip sup {
    font-size: 14px;
    top: -18px;
}

#totalTip small {
    font-size: 14px;
    font-weight: bold;
    display: block;
}

